<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>819567494328-m3rkm6ohbeli1vofo6d9lp738vn7ilkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819567494328-m3rkm6ohbeli1vofo6d9lp738vn7ilkn</string>
	<key>API_KEY</key>
	<string>AIzaSyCDJhcgRcxU5EozHzOgHQZUwjuOAbbfiWs</string>
	<key>GCM_SENDER_ID</key>
	<string>819567494328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kt.Misdeed</string>
	<key>PROJECT_ID</key>
	<string>misdeed-779c5</string>
	<key>STORAGE_BUCKET</key>
	<string>misdeed-779c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819567494328:ios:ff7a0930e57e7e2e</string>
	<key>DATABASE_URL</key>
	<string>https://misdeed-779c5.firebaseio.com</string>
</dict>
</plist>